.installed.cfg
bin
develop-eggs
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyc
*.pyo
.idea/*.*
migrations
/migrations
.sass-cache
/.sass-cache
.pyc
pyc
.DS_Store
.ropeproject/
parking/.ropeproject/
__pycache__
env
/env
/media
.env
